* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1e1e1e;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    z-index: 1000;
  }
  
  header h1 {
    font-size: 2.5em;
    margin: 0;
  }
  
  main {
    max-width: 800px;
    margin: 120px auto 20px;
    padding: 20px;
    text-align: center; /* Center align main content */
  }
  
  .card {
    background-color: #2a2a2a;
    border: 1px solid #444444;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    width: 100%; /* Take full width by default */
    max-width: 550px; /* Maximum width for larger screens */
    margin: 0 auto; /* Center the card horizontally */
    transition: transform 0.2s;
  }
  
  .card img {
    border-radius: 10px;
    width: 100%;
  }
  
  .card h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #ffffff;
  }
  
  .card p {
    margin: 5px 0;
    font-size: 1em;
    color: #bbbbbb;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #934c11;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }


  