* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #1e1e1e;
  color: #e0e0e0;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  z-index: 1000;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 120px auto 20px;
  text-align: center;
}


.card {
  background-color: #2a2a2a;
  border: 1px solid #444444;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 500px;
  transition: transform 0.2s;
  margin: 20px auto;
}

.card img {
  border-radius: 10px;
  width: 100%;
}

.card h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #ffffff;
}

.card p {
  margin: 5px 0;
  font-size: 1em;
  color: #bbbbbb;
}

.card:hover {
  transform: scale(1.05);
}

.welcome {
  text-align: center;
  max-width: 800px;
  margin: 120px auto 40px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6f00;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 1000;
}

.navbar img {
  height: 80px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  margin-right: 20px;
}

.navbar a.button {
  background-color: #ff6f00;
  border-radius: 5px;
  padding: 10px 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.card.players-page {
  background-color: #2a2a2a;
  border: 1px solid #444444;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 300px;
  transition: transform 0.2s;
}

.contact-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #2a2a2a;
  margin-top: 200px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #2a2a2a;
  margin-top: 200px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 8px;
  
}

.form-group label {
  font-weight: bold;
  color: #ffffff;
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #444444;
  border-radius: 5px;
  background-color: #333333;
  color: #ffffff;
}

.form-group button {
  background-color: #ff6f00;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: #e65c00;
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

.radio-group input,
.checkbox-group input {
  width: auto;
  margin: 0;
}

.contact-container h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

.forgot-password {
  color: #ffffff; 
  text-decoration: none;
  margin-left: 10px; 
}

.forgot-password:hover {
  text-decoration: underline; 
}