body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center; 
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
    max-width: 800px; 
    margin: 0 auto; 
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.centered-image {
    max-width: 50%; 
    height: auto;
    margin: 0 auto 1rem auto;
    display: block; 
    border-radius: 5px;
}



.blog-post {
    text-align: left; 
    padding: 1rem;
}

.comments {
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    padding: 1rem;
    margin-top: 2rem;
    text-align: left; 
}

.comment {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.comment-form label {
    display: block;
    margin-top: 1rem;
}

.comment-form input, .comment-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.comment-form button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #555;
}

