body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-box {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    background-color: #0080ff; /* Blue */
    padding: 20px;
    border: 20px solid #ffa500; /* Orange */
    box-sizing: border-box;
}

.inner-content {
    width: 100%;
    height: 100%;
    background-color: #ff0000; /* Red */
    padding: 20px;
    box-sizing: border-box;
}

.inner-padding {
    width: 100%;
    height: 100%;
    background-color: #00ffff; /* Cyan */
    padding: 20px;
    box-sizing: border-box;
}

.content {
    width: 100%;
    height: 100%;
    background-color: #ffaa00; /* Orange */
    box-sizing: border-box;
}
